.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0; /* Stick to the top of the viewport */
    left: 0;
    width: 100%; /* Full width */
    height: 35px;
    background-color: #ffffff; /* Background color */
    padding: 10px; /* Padding for content */
    color: #000000; /* Text color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
  }

  .nav p {
    font-size: 20px;
  }